/*   
Theme Name: BLANK Theme
Theme URI: https://digwp.com
Description: This is just a BLANK starter WordPress Theme template -- WordPress v2.9.1
Author: Chris Coyier
Author URI: https://chriscoyier.net
Version: 1
*/

.link-header,
.link-header:hover {

    color: #FFF;
    text-decoration: none;
}

.link-footer,
.link-footer:hover {

    color: #b1c2c9;
    text-decoration: none;
}

/*.pp_content {
    
    background: url(../base/images/bg-red.jpg)!important;*/
    /*background-color: #363636!important;*/
/*}*/

.gallery-item img {

    border: 7px solid #3e3e3e!important;
}

.gallery-item:hover img {

    border: 2px solid #B1C2C9!important;
    background-color: #EBEEEE;
}

@media screen {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #F7F7F7;
        /*background-color: #B5B5BA;*/

        /*background: url(../base/images/bg-silver.jpg);*/
        font: 18px / 1.4 'Source Sans Pro', sans-serif;
        color: #3e3e3e;
        font-weight: 300;
    }
    .screen-reader-text {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
    .clear {
        clear: both;
    }
    .group:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    * html .group,
    *:first-child+html .group {
        zoom: 1;
    }
    /* First selector = IE6, Second Selector = IE 7 */
    
    #page-wrap {
        width: 960px;
        margin: 20px auto;
    }
    h1,
    h2,
    h3 {
        font-weight: 300;
        margin: 0 0 10px 0;
        color: #314a53;
    }

    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    span.bold {
        font-weight: bold;
    }
    p {
        margin: 0 0 10px 0;
    }
    a {} a:hover {} blockquote {} blockquote p {} ul,
    ol {
        margin: 0 0 10px 0;
    }
    .post {  margin-top: 50px; } .entry {} .entry a {} .entry a:hover {} pre {} code,
    tt {} #meta {} .postmetadata {} #sidebar {} .navgation {} .next-posts {} .prev-posts {} #searchform {} #s {} #searchsubmt {} ol.commentlist {
        list-style: none;
    }
    ol.commentlist li {} ol.commentlist li.alt {} ol.commentlist li.bypostauthor {} ol.commentlist li.byuser {} ol.commentlist li.comment-author-admin {} ol.commentlist li.comment {
        border-bottom: 1px dotted #666;
        padding: 10px;
    }
    ol.commentlist li.comment div.comment-author {} ol.commentlist li.comment div.vcard {} ol.commentlist li.comment div.vcard cite.fn {
        font-style: normal;
    }
    ol.commentlist li.comment div.vcard cite.fn a.url {} ol.commentlist li.comment div.vcard img.avatar {
        float: right;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment div.vcard img.avatar-32 {} ol.commentlist li.comment div.vcard img.photo {} ol.commentlist li.comment div.vcard span.says {} ol.commentlist li.comment div.commentmetadata {} ol.commentlist li.comment div.comment-meta {
        font-size: 10px;
    }
    ol.commentlist li.comment div.comment-meta a {
        color: #ccc;
    }
    ol.commentlist li.comment p {} ol.commentlist li.comment ul {} ol.commentlist li.comment div.reply {
        font-size: 11px;
    }
    ol.commentlist li.comment div.reply a {
        font-weight: bold;
    }
    ol.commentlist li.comment ul.children {
        list-style: none;
        margin: 10px 0 0;
    }
    ol.commentlist li.comment ul.children li {} ol.commentlist li.comment ul.children li.alt {} ol.commentlist li.comment ul.children li.bypostauthor {} ol.commentlist li.comment ul.children li.byuser {} ol.commentlist li.comment ul.children li.comment {} ol.commentlist li.comment ul.children li.comment-author-admin {} ol.commentlist li.comment ul.children li.depth-2 {
        border-left: 5px solid #555;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment ul.children li.depth-3 {
        border-left: 5px solid #999;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment ul.children li.depth-4 {
        border-left: 5px solid #bbb;
        margin: 0 0 10px 10px;
    }
    ol.commentlist li.comment ul.children li.depth-5 {} ol.commentlist li.comment ul.children li.odd {} ol.commentlist li.even {
        background: #fff;
    }
    ol.commentlist li.odd {
        background: #f6f6f6;
    }
    ol.commentlist li.parent {
        border-left: 5px solid #111;
    }
    ol.commentlist li.thread-alt {} ol.commentlist li.thread-even {} ol.commentlist li.thread-odd {} form {} input[type=text] {} textarea {} .nivoSlider {
        margin-bottom: 25px;
    }
    .header {
        /*height: 176px;*/
        /*position: fixed;*/
        width: 100%;
        z-index: 999;
        background-color: #F7F7F7;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .headerRoll {
        position: fixed;
        /*height: 95px !important;*/
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    /*.liRoll {
        height: 92px !important;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .aRoll {
        padding-top: 35px !important;
        height: 92px !important;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .logoRoll {
        margin-left: 19px !important;
        margin-right: 19px !important;
        width: 126px !important;
        margin-top: 5px !important;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .boxFoneRoll {
        margin-top: 26px !important;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }*/
    .marginTop {
        height: 176px;
        width: 100%;
    }
    .topo {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 999;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    @media(max-width: 768px){
        .topo{
            height: 90px;
            display: flex;
            align-items: center;
        }
    }
    .topLine {
        width: 100%;
        height: 3px;
        background-color: #d3252e;
    }
    .topo .logo {
        width: 174px;
        /*margin-top: 29px;*/
        float: left;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .topo nav.nav {
        float: left;
        margin-left: 95px;
        margin-right: 36px;
    }
    .topo nav.nav ul li {
        float: left;
        list-style: none;
        /*height: 173px;*/
        border-left: 1px solid #dadada;
        font-weight: 300;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .topo nav.nav ul li:hover {
        background-color: #EFEFEF;
    }
    .topo nav.nav ul li a:hover {
        text-decoration: none;
    }
    .topo nav.nav ul li:last-child {
        border-right: 1px solid #dadada;
    }
    .topo nav.nav ul li a {
        /*height: 170px;*/
        padding: 35px;
        /*padding-top: 80px;*/
        display: inline-block;
        color: #818181;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .topo .boxFone {
        background-color: #b1c2c9;
        width: 165px;
        height: 40px;
        float: left;
        /*margin-top: 64px;*/
        padding-top: 8px;
        padding-bottom: 10px;
        font-weight: 300;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .topo .boxFone img {
        margin-left: 14px;
    }
    .topo .boxFone p {
        display: inline-block;
        color: #fff;
        margin-left: 9px;
    }
    .arrowLeft,
    .arrowRight {
        padding-left: 100px;
        padding-right: 100px;
        width: 30px;
        height: 53px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .arrowLeft {
        background-image: url('images/arrow-left.png');
    }
    .arrowRight {
        background-image: url('images/arrow-right.png');
    }
    .boxNav {
        height: 118px;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 25px;
        padding-right: 25px;
        /*border: 1px solid #616161;
        border-bottom: 3px solid #616161;*/
        background-color: #ED3338;

        /*background: red;
        background: -webkit-linear-gradient(right, #da0606, #992027, #da0606);
        background: -o-linear-gradient(right, #da0606, #992027, #da0606);
        background: -moz-linear-gradient(right, #da0606, #992027, #da0606);
        background: linear-gradient(to right, #da0606, #992027, #da0606);*/
    }
    .boxNav:hover {
        background-color: #FFF!important;
    }
    .pequenas-areas h2, .pequenas-areas span, .pequenas-areas p{

        color: #FFF;
    }

    .icons svg {
        
        margin-right: 29px;
        float: left;
        fill: #FFF;

    }

    .boxNav:hover h2, .boxNav:hover span, .boxNav:hover p, .boxNav:hover svg {

        color: #ff0000;
        fill:#ff0000;

    }

    .boxNav img {
        margin-right: 29px;
        float: left;
    }
    .boxNat p {} .boxNav h2 {
        margin-bottom: 5px;
    }
    .rodape {
        margin-top: 30px;
        height: 300px;
        background-color: #eee;
        padding-bottom: 40px
    }
    .margin-top {
        /*margin-top: 50px;*/
    }
    .hPage {
        font-weight: bold;
        border-bottom: 1px solid #F1F1F1;
        padding-bottom: 16px;
        margin-bottom: 12px;
        font-size: 29px;
    }
    .carouselProdutos {} .carouselProdutos img {
        width: 100%;
    }
    .separador {
        width: 100%;
        height: 3px;
        background-image: url('images/bg-line.png');
        padding-top: 80px;
        padding-bottom: 80px;
        background-repeat: repeat-x;
        background-position: center center;
    }
    .separadorNoMargin {
        width: 100%;
        height: 3px;
        background-image: url('images/bg-line.png');
    }
    .separadorTop {
        width: 100%;
        height: 3px;
        background-image: url('images/bg-line.png');
        padding-top: 100px;
        background-repeat: repeat-x;
        background-position: center bottom;
    }
    .center {
        text-align: center;
        margin-bottom: 60px;
    }
    .boxProdutos {
        height: 380px;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 10px solid #b1c2c9;
    }
    .boxProdutos span {
        color: #fff;
        font-weight: bold;
        font-size: 32px;
        text-align: center;
        display: inline-block;
        width: 100%;
        position: relative;
        top: 290px;
        text-shadow: 2px 2px 10px #000000;
    }
    .boxProdutos:hover:before {
        content: url('images/item-hover.png');
    }
    .boxProdutos:hover span {
        top: -76px;
    }
    .boxProdutos img {
        margin: 10px;
    }
    a.item-produto {
        width: 100%;
        height: 360px;
        display: block;
        margin: 40px 0;
        position: relative
    }
    a.item-produto span.tl {
        position: absolute;
        color: #fff;
        z-index: 99;
        width: 100%;
        font-weight: bold;
        font-size: 32px;
        text-align: center;
        display: inline-block;
        bottom: 20px;
        text-shadow: 2px 2px 10px #000;
    }
    a.item-produto:hover span.bg {
        width: 100%;
        z-index: 9;
        height: 340px;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        background-image: url('images/icon-mais.png');
        background-repeat: no-repeat;
        background-position: center
    }
    .carouselEmpresa img {
        width: 100%!important
    }
    .menu-mobile {
        top: 32px;
        left: 10px;
        position: fixed;
        z-index: 99999
    }
    .atuacao {
        height: 720px;
        background-image: url('images/banner-atuacao.png');
        background-position: center center;
        background-size: auto 100%;
        margin-bottom: 100px;
        margin-bottom: 100px;
        background-repeat: no-repeat;
        padding-top: 80px;

    }
    @media(max-width: 768px){
        .atuacao{
            display: flex;
            align-content: end;
            align-items: flex-end;
        }
    }
    @media(max-width: 424px){
        .atuacao{
            background-image: url('images/mapa_mobile.png');
            background-size: cover;
        }
    }

    .sombraAtuacao {
        position: relative;
        top: 43px;
        background-image: url("images/bg-sombra.png");
        height: 50px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .boxAtuacao p {
        font-size: 18px;
    }
    .carousel {
        display: inline-block;
    }
    .carousel img {
        float: left;
        margin: 0px 14px;
    }
    .carousel .carousel-inner {
        position: relative;
        text-align: center;
    }
    .rodape {
        background: url('images/bg-rodape.jpg');
        height: 100%;
    }
    .rodape_ {
        height: 33px;
        width: 100%;
        background-color: #cf1e23;
        position: relative;
        bottom: 0px;
    }
    #contato .container {
        padding-top: 77px;
    }
    #contato .container h1,
    #contato .container h2,
    #contato .container h3,
    #contato .container span {
        color: #fff !important;
    }
    #contato .container p {
        color: #b1c2c9;
    }
    #contato .container input,
    #contato .container textarea {
        padding: 7px;
        border: none;
        box-shadow: none;
        border-bottom: 3px solid #b1c2c9;
    }
    .controlForm_ input,
    .controlForm_ textarea {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .controlForm_inline input {
        width: 100% !important;
        float: left;
        margin-right: 31px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .controlForm_inline .no-margin input {
        margin-right: 0px;
    }
    .clear {
        clear: both;
    }
    .form_ input,
    .form_ textarea {
        color: #000;
    }
    .form_ input[type="submit"] {
        background-color: #b1c2c9;
        color: #5b6f77;
        border-bottom: 3px solid #fff!important;
        margin-top: 5px;
        float: right;
    }
    .form_ input[type="submit"]:hover {
        background-color: #a5b4bb;
        border-bottom: 3px solid #fff!important;
    }
    .form_ textarea {
        height: 122px;
    }
    .rodapeLine {
        height: 33px;
        background-color: #d3252e;
        text-align: center;
    }
    .rodapeLine img {
        margin-top: 6px;
    }
    .contatoBox {
        margin-bottom: 22px;
    }
    .contatoBox img {
        float: left;
        margin-right: 8px;
    }
    .contatoBox h3 {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0px;
        padding-top: 3px;
    }
    img.mapImage {
        margin-top: 10px;
        width: 100%
    }
    .carouselEmpresa {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid #dadada;
        border-bottom: 3px solid #dadada;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: -22px;
    }
    .navLeft,
    .navRight {
        position: relative;
        top: -156px;
    }
    .navLeft {
        float: left;
        margin-left: -85px;
    }
    .navRight {
        float: right;
        margin-right: -85px;
    }
    a .boxNav {
        color: #3e3e3e;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    a .boxNav:hover {
        background-color: #f9f9f9;
        border-bottom-color: #d3252e;
    }
    /*#produtos, #atuacao, #aempresa, #contato {
    padding-top:150px;
}
*/
}
/* END screen media */

@media print {
    .do-not-print {
        display: none;
    }
    #comments {
        page-break-before: always;
    }
    body {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.4;
        word-spacing: 1.1pt;
        letter-spacing: 0.2pt;
        font-family: Garamond, "Times New Roman", serif;
        color: #000;
        background: none;
        font-size: 12pt;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Helvetica, Arial, sans-serif;
    }
    h1 {
        font-size: 19pt;
    }
    h2 {
        font-size: 17pt;
    }
    h3 {
        font-size: 15pt;
    }
    h4,
    h5,
    h6 {
        font-size: 12pt;
    }
    code {
        font: 10pt Courier, monospace;
    }
    blockquote {
        margin: 1.3em;
        padding: 1em;
    }
    img {
        display: block;
        margin: 1em 0;
    }
    a img {
        border: none;
    }
    table {
        margin: 1px;
        text-align: left;
    }
    th {
        border-bottom: 1px solid #333;
        font-weight: bold;
    }
    td {
        border-bottom: 1px solid #333;
    }
    th,
    td {
        padding: 4px 10px 4px 0;
    }
    caption {
        background: #fff;
        margin-bottom: 2em;
        text-align: left;
    }
    thead {
        display: table-header-group;
    }
    tr {
        page-break-inside: avoid;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
/* END print media */

@media screen and (max-width: 991px) {
    .logo {
        margin-bottom: 3px !important;
        margin-top: 3px !important;
    }
    .marginTop {
        height: 114px;
    }
    .header {
        /*height: 114px;*/
    }
}
@media (max-width: 1200px) {
    .topo nav.nav {
        margin-right: 16px
    }
    .topo nav.nav ul li a {
        padding: 80px 16px 0
    }
    .boxNav {
        margin-bottom: 10px
    }
}
@media (max-width: 992px) {
    .separadorNoMargin {
        margin-top: 25px;
    }
    a.item-produto {
        width: 360px;
        margin: 40px auto
    }
    .atuacao {
        text-align: right
    }
    .map img {
        width: 100%
    }
    .topo-logo {
        text-align: center;
        width: 100%;
        display: block
    }
    .logo {
        float: none!important
    }
}
@media (max-width: 768px) {}


/* --------------------- Banner flutuante ---------------------------- */
#modal-flutuante {
    background: transparent;
}
@media (min-width: 1200px) {
    #modal-flutuante {
        width: 1001px;
    }
}
#modal-flutuante a {

}
#modal-flutuante img {
    width: 100%;
    border-radius: 6px;
}
#modal-flutuante .modal-content {

}
#modal-flutuante .modal-body {
    padding: 0;

}
#modal-flutuante .btn-close {
    background: #333333;
    color: #fff;
    border-width: 0;
    font-size: 30px;
    width: 34px;
    height: 34px;
    line-height: 30px;
    border-radius: 100%;
    position: absolute;
    right: -9px;
    top: -7px;
    box-shadow: 2px 2px 3px #7d7d7d;
}
#banner-landingpage {
    position: fixed;
    bottom: -15px;
    right: 15px;
    transition: all 0.3s;
    opacity: 1;
    z-index: 50000;
}
#banner-landingpage.none {
    opacity: 0;
}
#banner-landingpage img {
    width: 300px;
    border-radius: 4px;
}

@media (max-width: 500px) {
    display: none;
}


/* Espaçamento entre imagens */

.gallery-item {
    margin-top: 10px!important;
    text-align: center!important;
    width: 150px!important;
    margin-right: 15px!important;
    display: inline-block!important;
}

.menu-flex{
    display: flex;
    align-items: center;
}

.link-icon-produtos{
    display: grid;
}

.circle-item{
    display: flex;
    align-content: center;
    background-color: #ED3338;
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.title-produto-icon{
    font-weight: 600;
    padding: 15px;
    color: #ED3338;
    font-size: 22px;
}

.circle-item:hover{
    background-color: #314A56;
}

.link-icon-produtos:hover{
    color: #314A56 !important;
    text-decoration: none !important;
}

.link-icon-produtos:hover > span{
    color: #314A56 !important;
}

.rotate {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
    /*width: 150px;*/
}

.rotate:hover {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.sin-dep {
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
}

.sin-dep:hover {
    transform: scale(1.2);
}

#map {
    width: 100%;
    min-height: 190px;
    border: 8px solid #B0C2C9;
    /*border-radius: 5px;*/
    margin-bottom: 20px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #ED3338 !important;
}

.map-info-content a, .leaflet-popup-close-button {
    color: #ffffff !important;
    text-decoration: none;
}

.selo-whatsapp {
    position: fixed;
    right: -13px;
    top: 50%;
    z-index: 9;
    transform: rotate(180deg);
}

.selo-whatsapp a img {
    height: 250px;
}




